/* Companies.css */

.c-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .c-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* CSS */
.r-head {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Add margin if needed */
}

.orangeText {
  color: black; /* Adjust color as needed */
  font-size: 24px; /* Adjust font size as needed */
}
