.custom-prev-btn,
.custom-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  background-color: #1b241896;
  color: rgb(149, 159, 172);
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-prev-btn {
  left: 10px;
}

.custom-next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .custom-prev-btn,
  .custom-next-btn {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
}
